
<%= form_for @timerecord do |f| %>  
<div>

   <%= f.hidden_field :user_id %>
   <%= hidden_field_tag(:addrecord, value = params[:addrecord]) %>

    <%if current_user.admin? %>
      <div>
        <%= f.label :jobnumber %><br>
        <%= f.text_field :jobnumber%>
      </div>
      <div>
      <%= f.datetime_local_field :timein, :step => "1"%>
      </div>
      <div>
      <%= f.datetime_local_field :timeout, :step => "1" %>
      </div>
    <%else%>
      <div>
        <%= f.label :jobnumber %><br>
        <%= f.text_field :jobnumber, disabled: true %>
      </div>
      <div>
      <%= f.datetime_local_field :timein, :step => "1", disabled: true%>
      </div>
      <div>
      <%= f.datetime_local_field :timeout, :step => "1", disabled: true %>
      </div>

    <%end%>

    <div class="big_drop"> 
    <%= f.collection_select(:task_id, Task.order(:taskname), :id, :taskname, include_blank: false)%>
    </div>
  
</div>
<div> 
   
    <% if @timerecord.persisted? %>
       <%= f.submit "Timeout", :class => "btn btn-danger big_button" %>
    <% else %>
      <%= f.submit "Submit", :class => "btn btn-success big_button" %>
    <% end %>
</div>

<% end %>