 

<%if (task.timeout == nil)%>
      
     <% @timeout = Time.current %>
<%else%>
    
     <% @timeout = task.timeout %>
<% end %>
 <tr>
    <td><%= link_to '', edit_timerecord_path(task.id), :class => 'glyphicon glyphicon-pencil' %></td>
    <td><%=link_to task.user.firstname, :action => "employee", :id => task.user.id%></td>
    <td><%=task.task.taskname %> </td>
    <td><%= task.timein.strftime("%I:%M %p") %></td>
    <td><%= @timeout.strftime("%I:%M %p") %></td>
    <td>
     <% @time_diff_components = Time.diff(task.timein, @timeout, '%m') %>
  <%= (@time_diff_components[:diff].to_f / 60).round(2)%> Hours </td>

</tr>

    
    <% @timetotal = @timetotal+ (@time_diff_components[:diff].to_f / 60).round(2) %>
