

<%= form_for :timerecord, url: timerecord_path(@timerecord), method: :patch do |f| %>
  <p>

   <p style="font-size:3em">
   <%= @timerecord.jobnumber%>
   </p>
    <p>
    <%= f.datetime_local_field :timein %>
    </p>
    <p>
    <%= f.datetime_local_field :timeout %>
    </p>
   
    
    <p class="big_drop"> 
    <%= f.collection_select(:task_id, Task.order(:taskname), :id, :taskname, include_blank: false)%>
    </p>
  
  </p>
    
 
  <p>
    <%= f.submit "submit", :class => "btn btn-warning big_button"%>	
  </p>
<% end %>