
<%= form_for :timerecord, url: timerecord_path(@timerecord), method: :patch do |f| %>
  <p>
   <p style="font-size:3em"><%= params[:job_id]%></p>
    <p>
    <%= f.hidden_field :jobnumber %>
    </p>
    <p>
    <%= f.text_field :timein %>
    </p>
    <p>
    <%= f.text_field :timeout %>
    </p>
    
    <p class="big_drop"> 
    <%= f.collection_select(:task_id, Task.order(:taskname), :id, :taskname, include_blank: false)%>
    </p>
  
  </p>
    
 
  <p>
    <%= f.submit "submit", :class => "btn btn-warning big_button"%>	
  </p>
<% end %>