<% if current_user.admin? %>
<% user = @timerecord.first %>
<h1><%= user.user.firstname%></h1>
<table>
  <tr>
    <th class="column_wide">Job Number</th>
    <th class="column_wide">Task</th>       
    <th class="column_wide">Job Number</th>
    <th class="column_wide">Task</th>       
    <th class="column_wide">Time In</th>
    <th class="column_wide">Time Out</th>
    <th class="column_wide">Total</th>
  </tr>
 
<% @timerecord.each do |t| %>

<%@jobname = Jobnumbers.find_by JobNumber: t.jobnumber%>
 <tr>
    <%if (@jobname == nil)%>
    <td></td>
    <td></td>


    <%else%>
    <%@customername = Contacts.find_by! id: @jobname.contacts_id%>
    <td><%=@customername.CompanyName%></td>
    <td><%=@jobname.projectName%></td>
    <%end%>
    <td><%=link_to t.jobnumber, edit_timerecord_path(t.id) %></td>
    <td><%=t.task.taskname %></td>
    <td><%= t.timein.strftime("%I:%M %p") %></td>
    <%if (t.timeout == nil)%>
    <td style="color:red"><%= Time.current.strftime("%I:%M %p") %></td>
    <%@timeout = Time.current%>
    <%else%>
    <td><%= t.timeout.strftime("%I:%M %p") %></td>
    <%@timeout = t.timeout%>
    <%end%>
     <% @time_in_mins = ((@timeout - t.timein) / 1.minute).ceil %>
     <% @time_in_hours = ((@timeout - t.timein) / 1.hour).ceil %>
    <td><%=  @time_in_hours-1 %> hours
    <%=  @time_in_mins - (@time_in_mins/60).ceil * 60 %> mins</td>
  </tr>

<% end %>

 
</table>
</div>
<%end%>
<table class="table table-condensed">
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
    <% @time_in_mins = ((@timetotal) / 1.minute).ceil %>
    <% @time_in_hours = ((@timetotal) / 1.hour).ceil %>
    <%=  @time_in_hours -1 %> hours
  <%=  @time_in_mins - (@time_in_mins/60).ceil * 60 %> mins  </td>
  </tr>
</table>

  
    

	

