 <%= render 'sidemenu' %>
<% if current_user.admin? %>
<% @user = @timerecord.first %>

<% if @user == nil%>
 <h2> There are no records for this time period </h2>
 <h2><%=@startdate%> to <%=@enddate%></h2>
<%else%>
<h1><%= @user.user.firstname%></h1>
<h2><%=@startdate%> to <%=@enddate%></h2>

<div class="table-responsive">


<table class="table table-hover">
  <tr>
    <th></th>
    <th class="column_wide">CompanyName</th>
    <th class="column_wide">Job Name</th>       
    <th class="column_wide">Job Number</th>
    <th class="column_wide">Task</th>       
    <th class="column_wide">Date</th>       
    <th class="column_wide">Time In</th>
    <th class="column_wide">Time Out</th>
    <th class="column_wide">Total</th>
  </tr>
 <tr>
 <%@time_diff_components = nil %>
 <%@timetotal = 0%>
 <%@startdate.upto(@enddate) do |date|%>
   <% timestart=date.beginning_of_day%>
   <% timeend=date.end_of_day%>
   <% Timerecord.selecteduser(params[:id]).weekstart(timestart).weekend(timeend).find_each do |t| %>
<%@jobname = Jobnumbers.find_by JobNumber: t.jobnumber%>
    <%if (@jobname == nil)%>
    <td><%= link_to '', edit_timerecord_path(t.id), :class => 'glyphicon glyphicon-pencil' %></td>
    <td></td>
    <td></td>
    <%else%>
    <%@customername = Contacts.find_by! id: @jobname.contacts_id%>
    <td><%= link_to '', edit_timerecord_path(t.id), :class => 'glyphicon glyphicon-pencil' %></td>
    <td><%=@customername.CompanyName%></td>
    <td><%=@jobname.projectName%></td>
    <%end%>
    <td><%=link_to t.jobnumber, :controller => "timerecords", :action => "jobreport", :id => t.jobnumber %></td> 
    <td><%=link_to t.task.taskname, :action => "task", :id => t.task.id%></td>
    <td><%= t.timein.strftime("%m-%d") %></td>
    <td><%= t.timein.strftime("%I:%M %p") %></td>
    <%if (t.timeout == nil)%>
    <td class="danger"><%= Time.current.strftime("%I:%M %p") %></td>
    <%@timeout = Time.current%>
    <%else%>
    <td><%= t.timeout.strftime("%I:%M %p") %></td>
    <%@timeout = t.timeout%>
    <%end%>
    <% @time_diff_components = Time.diff(t.timein, @timeout, '%m') %>

    <td><%= (@time_diff_components[:diff].to_f / 60).round(2)%> Hours</td>
    <% @timetotal = @timetotal+ (@time_diff_components[:diff].to_f / 60).round(2) %>

  </tr>
<% end %>
<%end%>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%=  @timetotal.round(2) %> hours</td>
  
  </tr>
 
</table>


</div>
<%end%>


 
  <%= link_to 'Back', timerecords_admin_path %>


<%end%>
</div>
  
    

	

