<div class="timerecords">
<h2> Hours from <%= params[:weekstart] %> to <%= params[:weekend] %> for <br> <%= @user.firstname %> <%= @user.lastname%>
	<small> 
		
	</small>
</h2>
<div>
<%= form_tag nil, :method => :get, :class => 'navbar-form navbar-left' do %>
			<div class="form-group">
			<%=date_field_tag 'weekstart', $beginning_of_last_week, :class => "form-control"%>
			<%=date_field_tag 'weekend', $end_of_last_week, :class => "form-control"%>
      		<%=hidden_field_tag 'selecteduser', '', value: params[:selecteduser]%>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
<% end %>

</div>
  <div class="table-responsive">


  <table class="table table-hover">
  <% @timerecords.group_by(&:day).each do |day, timerecords| %>

    <tr>
      
      <th colspan="2"><%= day %></th>    
      <th>Job</th>          
      <th>In</th>
      <th>Out</th>
      <th>Total</th>
    </tr>

      <%= render timerecords %>
    <tr>    
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2" align = "right">Total Hours for the day</td>      
      <td><strong><%= timerecords.to_a.sum(&:timeTotal).round(2)%></strong></td>
   </tr>
    <% end %>
    <tr>    
      <td></td>
    	<td></td>
      <td></td>
      <td colspan="2" align = "right">Total Hours</td>
      <td><strong><%= @timerecords.to_a.sum(&:timeTotal).round(2)%></strong></td>
   </tr>

   </table>

   
  </div>
  <div>
  <%= link_to 'Insert missing record', new_timerecord_path(:user_id => @user.id, :addrecord => "1"), {class: 'btn btn-primary'} if current_user.admin?%>
  </div>
</div>   

</div>