<div class="timerecords">

<div>
<%= form_tag nil, :method => :get, :class => 'navbar-form navbar-left' do %>
			<div class="form-group">
			<%=date_field_tag 'weekstart', $beginning_of_last_week, :class => "form-control"%>
			<%=date_field_tag 'weekend', $end_of_last_week+1, :class => "form-control"%>
      		<%=hidden_field_tag 'selecteduser', '', value: params[:selecteduser]%>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
<% end %>
<%= form_tag nil, :method => :get, :class => 'navbar-form navbar-left' do %>
      <div class="form-group">
          <%=text_field_tag 'jobnumber', "", :class => "form-control"%>

      </div>
      <button type="submit" class="btn btn-default">Submit</button>
<% end %>

</div>
  <div class="table-responsive">


  <table class="table table-hover">
  <% @timerecords.group_by(&:task).each do |task, timerecords| %>

    <tr>
      
      <th colspan="2"><%= task.taskname %></th>          
      <th>Person</th>          
      <th>Job</th>          
      <th>Task</th>          
      <th>In</th>
      <th>Out</th>
      <th>Total</th>
    </tr>

      <%= render timerecords %>
    <tr>    
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2" align = "right">Total Hours for the task</td>      
      <td><strong><%= timerecords.to_a.sum(&:timeTotal).round(2)%></strong></td>
   </tr>
    <% end %>
    <tr>    
      <td></td>
      <td></td>
      <td></td>
    	<td></td>
      <td></td>
      <td colspan="2" align = "right">Total Hours</td>
      <td><strong><%= @timerecords.to_a.sum(&:timeTotal).round(2)%></strong></td>
   </tr>

   </table>

   
  </div>
  
</div>   

</div>