 <% if current_user.admin? %>
<%= render 'sidemenu' %>
<%@jobname = Jobnumbers.find_by JobNumber: @jobnumber%>
    <%if (@jobname == nil)%>
    <%else%>
    <%@customername = Contacts.find_by! id: @jobname.contacts_id%>
    <h1><%=@customername.CompanyName%></h1>
    <h2><%=@jobname.projectName%> <%=@jobnumber%></h2>
<%end%>
<div class="table-responsive">
<table class="table table-hover">
  <tr>
    <th class="column_wide"></th>
    <th class="column_wide">Employee</th>
    <th class="column_wide">Task</th>
    <th class="column_wide">Time In</th>
    <th class="column_wide">Time Out</th>
    <th class="column_wide">Total</th>
  </tr>
<% @timerecord.find_each do |t| %>
<%if (t.timeout == nil)%>
     <% @time_in_mins = ((Time.current - t.timein) / 1.minute).ceil %>
     <% @time_in_hours = ((Time.current - t.timein) / 1.hour).ceil %>  
<%else%>
     <% @time_in_mins = ((t.timeout - t.timein) / 1.minute).ceil %>
     <% @time_in_hours = ((t.timeout - t.timein) / 1.hour).ceil %>
<% end %>
 <tr>
    <td><%= link_to 'edit', edit_timerecord_path(t.id), :class => 'glyphicon glyphicon-pencil' %></td>
    <td><%=t.user.firstname%></td>
    <td><%=t.task.taskname %> </td>
    <td><%= t.timein.strftime("%I:%M %p") %></td>
    <td><%= Time.current.strftime("%I:%M %p") %></td>
    <td><%=  @time_in_hours-1 %> hours
    <%=  @time_in_mins - (@time_in_mins/60).ceil * 60 %> mins</td>
</tr>




<% end %>


<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
    <% @time_in_mins = ((@timetotal) / 1.minute).ceil %>
    <% @time_in_hours = ((@timetotal) / 1.hour).ceil %>
    <%=  @time_in_hours -1 %> hours
  <%=  @time_in_mins - (@time_in_mins/60).ceil * 60 %> mins  </td>
  </tr>
</table>
</div>
<%end%>

