 <% if current_user.admin? %>
<%= render 'sidemenu' %>
<%@jobname = Jobnumbers.find_by JobNumber: @jobnumber%>
    <%if (@jobname == nil)%>
    <%else%>
    <%@customername = Contacts.find_by! id: @jobname.contacts_id%>
    <h1><%=@customername.CompanyName%></h1>
    <h2><%=@jobname.projectName%> <%=@jobnumber%></h2>
<%end%>
<div class="table-responsive">
<table class="table table-hover">
  <tr>
    <th class="column_wide"></th>
    <th class="column_wide">Employee</th>
    <th class="column_wide">Task</th>
    <th class="column_wide">Time In</th>
    <th class="column_wide">Time Out</th>
    <th class="column_wide">Total</th>
  </tr>
  <% @timetotal = 0 %>
<% @timerecord.order(task_id: :asc).each do |t| %>
<%if (t.timeout == nil)%>
    <% @timeout = Time.current %>
<%else%>
    <% @timeout = t.timeout %>
<% end %>
 <tr>
    <td><%= link_to '', edit_timerecord_path(t.id), :class => 'glyphicon glyphicon-pencil' %></td>
    <td><%=link_to t.user.firstname, :action => "employee", :id => t.user.id%></td>
    <td><%=link_to t.task.taskname, :action => "task", :id => t.task.id%></td>
    <td><%= t.timein.strftime("%I:%M %p") %></td>
    <td><%= @timeout.strftime("%I:%M %p") %></td>
    <td>
     <% @time_diff_components = Time.diff(t.timein, @timeout, '%m') %>
  <%= (@time_diff_components[:diff].to_f / 60).round(2)%> Hours </td>

</tr>

    
    <% @timetotal = @timetotal+ (@time_diff_components[:diff].to_f / 60).round(2) %>



<% end %>


<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>   <%=  @timetotal.round(2) %> hours </td>
  </tr>
</table>
</div>
<%end%>

