<div class="large">
<%= form_for :timerecord, url: timerecords_path do |f| %>
  
    <p style="font-size:3em"><%= params[:job_id]%></p>
    <p>
    <%= f.hidden_field :jobnumber %>
      
    </p>
    
    <p class="big_drop"> 
    <%= f.collection_select(:task_id, Task.order(:taskname), :id, :taskname, include_blank: false)%>
    </p>
      
   
    <p>
      <%= f.submit "Time In", :class => "btn btn-success big_button"%>	
    </p>

<% end %>
</div>