<p>
  <strong>Job Number:</strong>
  <%= @timerecord.jobnumber %>
</p>
 
<p>
  <strong>User:</strong>
  <%= current_user.email %>
</p>
<p>
  <strong>Task:</strong>
  <%= @task.taskname %>
</p>
<p>
  <strong>Time In:</strong>
  <%= @timerecord.timein.strftime("%I:%M %p") %>
</p>
<% if @timerecord.timeout == nil %>

 <% else %>
<p>
  <strong>Time Out:</strong>
  <%= @timerecord.timeout.strftime("%I:%M %p") %>
</p>
<% end %>
<p>

    
    


  <% if @timerecord.timeout == nil %>

  <strong>current time on project:</strong>
  <% @time_diff_components = Time.diff(@timerecord.timein, Time.current, '%m') %>
  <%= (@time_diff_components[:diff].to_f / 60).round(2)%> Hours

  

  <% else %>

  <strong>final time on project:</strong>
 <% @time_diff_components = Time.diff(@timerecord.timein, @timerecord.timeout, '%m') %>
  <%= (@time_diff_components[:diff].to_f / 60).round(2)%> Hours
  

  <% end %>
</p>
