<p>
  <strong>Job Number:</strong>
  <%= @timerecord.jobnumber %>
</p>
 
<p>
  <strong>User:</strong>
  <%= current_user.email %>
</p>
<p>
  <strong>Task:</strong>
  <%= @task.taskname %>
</p>
<p>
  <strong>Time In:</strong>
  <%= @timerecord.timein.strftime("%I:%M %p") %>
</p>
<p>
  <% if @timerecord.timeout == nil %>
  <strong>current time on project:</strong>
  <% @time_in_mins = ((Time.current - @timerecord.timein) / 1.minute).ceil %>
  <% @time_in_hours = ((Time.current - @timerecord.timein) / 1.hour).ceil %>
  <%=  @time_in_hours -1 %> hours
  <%=  @time_in_mins - (@time_in_mins/60).ceil * 60 %> mins
  <% else %>
  <strong>final time on project:</strong>
   <% @time_in_mins = ((@timerecord.timeout - @timerecord.timein) / 1.minute).ceil %>
  <% @time_in_hours = ((@timerecord.timeout - @timerecord.timein) / 1.hour).ceil %>
  <%=  @time_in_hours -1 %> hours
  <%=  @time_in_mins - (@time_in_mins/60).ceil * 60 %> mins
  <% end %>
</p>
