<p>
  <strong>Part Number:</strong>
  <%= @part.part_number %>
</p>
 
<p>
  <strong>Parts per length:</strong>
  <%= @part.parts_per_length %>
</p>
<p>
  <strong>Material:</strong>
  <%= @part.material_id %>
</p>
<p>
  <strong>description:</strong>
  <%= @part.description %>
</p>
<p>
  <strong>time per part:</strong>
  <%= @part.time_per_part %>
</p>