 <%= render 'sidemenu' %>
<h2><%=@startdate%> to <%=@enddate%></h2>
<div class="table-responsive">
<table class="table table-hover">
  <tr>
    <th class="column_wide"></th>
    <th class="column_wide">Employee</th>
    <th class="column_wide">Task</th>
    <th class="column_wide">Time In</th>
    <th class="column_wide">Time Out</th>
    <th class="column_wide">Total</th>
  </tr>
  <% @timetotal = 0 %>
 <%= render partial: "task", collection: @task_all %>
 <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>   <%=  @timetotal.round(2) %> hours </td>
  </tr>
</table>
</div>